@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* Material Icons 및 Outlined 스타일을 @import로 추가 */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');




.ad401__main_background_color {
    background-color: #fafcfd;
    max-width: 1920px;
    font-family: "Noto Sans KR", sans-serif;
}

.ad401__main_container {
    background-color: #fcfcfc;
    max-width: 1320px;
    margin: 0 auto;
    margin-top: 60px;
}

.ad401__main_title,
.ad401__sub1_title,
.ad401__sub2_title,
.ad401__sub3_title {
    padding: 20px 40px;
}

.ad401__main_name{
    font-size: 30px;
    
}