@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* Material Icons 및 Outlined 스타일을 @import로 추가 */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');



body {
  font-family: "Noto Sans KR", sans-serif;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.admin-user-color {
  max-width: 1920px;
  background-color: #F6F2F2;
}

.admin-user p {
  padding: 11px 19px;
  display: inline-block;
}

.admin-user {
  max-width: 1320px;
  text-align: right;
  font-size: 16px;
  margin: 0 auto;
}

.admin-Header {
  max-width: 1920px;
  width: 100%
}

.menubar-color {
  max-width: 1920px;
  background-color: #FFF;
  border-bottom: 2px solid #843ffe;
}

.menubar {
  width: 1320px;

  margin: 0 auto;
}


ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

li {
  font-weight: 600;
  padding: 22px 32px;
  font-size: 20px;
  display: inline-block;
}

/* 기존 스타일 유지 */

/* 드롭다운 메뉴 */
.dropdown {
  position: absolute;
  top: 76px;
  left: 0;
  background-color: #ffffff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  padding: 10px 0;
  z-index: 1000;
  border: 1px solid #ddd;
}

/* 드롭다운 항목 */
.dropdown-item {
  position: relative;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  color: #333;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-bottom: 2px;
}

.dropdown-item:hover {
  background-color: #d399ee;
  color: #fff;
  transition: all 0.3s;
}

/* 메뉴 옵션 */
.menu-options {
  position: relative;
  /* 드롭다운 메뉴 위치 조정을 위한 상대 위치 */
  padding: 22px 32px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

.dropdown-right {
  position: absolute;
  /* left: 100%; */
  background-color: #ddd;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  padding: 10px 0;
  z-index: 1000;
  left: 100%;
  top: 0;
  background-color: #fff;
}

/* 드롭다운 항목 */
.dropdown-item-right {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  color: #333;
  cursor: pointer;
  background-color: #fff;
  transition: background-color 0.2s ease;
  margin-bottom: 2px;
}

.dropdown-item-right:hover {
  background-color: #E0C3ED;
  color: #fff;
  transition: all 0.3s;
}